# Ignore metadata
/.metadata/
.settings/

# Ignore class files
*.class

# Ignore builds
bin/
out/
target/

# Ignore IDE configs
.idea/
*.iml

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore classpath and project
.classpath
.project